.bg-accent-outline {
    border: 2px solid var(--accent-primary);
    border-radius: 0;
    padding: 5px 25px;
    transition: all .25s ease-in-out;
}

.bg-accent-outline:hover {
    border: 2px solid var(--accent-primary);
    background: var(--accent-primary);
    color: white;
}

.btn-main,
.btn a {
    background: var(--accent-primary);
    padding: 15px 45px;
    transition: all .25s ease-in-out;
    text-decoration: none;
    border-radius: 25px;
    color: white;
    font-family: "proxima_novabold";
}

.btn-main {
    display: inline-block;
}

.btn a {
    padding: 15px 45px !important;
    margin-left: 25px;
    text-shadow: none !important;
}

.btn-main:hover {
    background: var(--accent-secondary);
    text-decoration: none;
    color: white;
}

.btn a:hover {
    background: var(--accent-primary-dark);
    text-decoration: none;
}