.text-white * {
  color: white;
}

.text-white a:hover {
  color: white;
}

h1,
.h1 {
  color: var(--accent-secondary);
}

h2 {
  font-family: "proxima_novabold";
}

@media only screen and (min-width:768px) {

  h1,
  .h1 {
    font-size: 75px;
  }
}

.text-accent,
a {
  color: var(--accent-primary);
}

.text-accent-secondary {
  color: var(--accent-secondary);
}

.text-accent-tertiary {
  color: var(--accent-tertiary);
}

.text-accent {
  color: var(--accent-primary);
}

.text-gray,
h2 {
  color: #939596;
}

.text-shadow {
  text-shadow: 1px 1px 3px black;
}

.text-black {
  color: black;
}

a.text-black:hover {
  color: black;
}

.lh-1 {
  line-height: 1;
}

.ls-1 {
  letter-spacing: 1em;
}

.nowrap {
  white-space: nowrap;
}

.wp-block-quote {
  border-left: 2px solid;
  margin: 0 0 1.75em;
  padding-left: 1em;
  font-style: italic;
  font-size: 18px;
}

html,
body {
  font-family: "proxima_novaregular";
}

.light {
  font-family: "proxima_nova_altlight";
}

.thin {
  font-family: "proxima_novathin";
}

.bold,
strong {
  font-family: "proxima_novabold";
}

blockquote {
  font-size: 90%;
}

.content-section p,
p {
  font-size: 125%;
}